<% content_for :title, "New spotify playlist" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New spotify playlist</h1>

  <%= render "form", spotify_playlist: @spotify_playlist %>
</div>
