<div id="<%= dom_id track_tag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Track:</strong>
    <%= track_tag.track_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tag:</strong>
    <%= track_tag.tag_id %>
  </p>
</div>
